{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}College of Engineering and Technology | Collegeizens | Create Help Desk Post{% endblock %}

{% block content %}

    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12 bg_white p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="text-info mb-2">{{ object.title }}</h2>
                        {% if user.is_authenticated %}
                            <div class="d-flex align-items-center">
                                <a href="{% url 'alumni.help_desk.update' object.id %}"
                                   class="btn btn-sm btn-primary me-1">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-danger ms-1">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                         alt=""
                         class="card-img-top"
                         width="100%"
                         height="400" />
                    <p>{{ object.content | safe }}</p>
                    <p class="text-muted ">
                        Type:
                        <span class="badge bg-info">
                            {% with post_type=object.post_type %}
                                {% if post_type == "O" %}
                                    Opportunity
                                {% elif podt_type == "S" %}
                                    Seeking Job
                                {% else %}
                                    Internship
                                {% endif %}
                            {% endwith %}
                        </span>
                    </p>
                    <p class="text-muted">
                        Tags:
                        {% for tag in object.tags.all %}
                            <span class="badge bg-secondary me-1">{{ tag.name }}</span>
                        {% empty %}
                            <span class="text-muted">No tags</span>
                        {% endfor %}
                    </p>
                    <p class="text-muted">Posted by: {{ object.created_by }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
