{% extends 'base.html' %}
{% block content %}

<div id="finance_chat_container"
  style="display: flex;justify-content: space-between;align-items: center;flex-direction: column;width: 100%;">

  <div class="message_container">
    {% for msg in all_messages %}
    {% with interest_id=msg.post_response.id %}
    {% if interest_id == interest %}
    {% if msg.user == faculty %}
    <span
      style="float: right;max-width: 70%;width: 100%;text-align: left;border-radius: 10px;padding: 8px;margin: 10px 0;overflow-wrap: break-word;"
      class="bg-primary">
      {{msg.message}}
      <br>
      <span style="font-size: 12px !important;">{{msg.date}}</span>
    </span>
    <div style="margin: 5px 0px"></div>
    {% endif %}
    {% if msg.user != faculty %}
    <span
      style="float: left;max-width: 70%;width: 100%;text-align: left;border-radius: 10px;padding: 8px;margin: 10px 0;overflow-wrap: break-word;"
      class="bg-info">
      {{msg.message}}
      <br>
      <span style="font-size: 12px !important;">{{msg.date}}</span>
    </span>
    <div style="margin: 5px 0px"></div>
    {% endif %}
    <br>
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>

</div>

{% block javascript %}
  <script>
    document.getElementById('finance_chat_container').addEventListener("load",()=> {
      var id = '{{interest}}'
      alert("ifknjkdv")
      alert(id)
      // get_interest_id(id)
    });
  </script>
{% endblock javascript %}

{% endblock content %}