{% extends 'base.html' %}
{% block content %}
<div>
  {% csrf_token %}
  <div>
    <div id="finance_request_container">
      {% for msg in messages %}
      <p class="text-left float-left" style="max-width: 70%;float: left;">{{msg.message}}</p>
        <!-- {{msg.user}}</p> -->
      {% endfor %}
    </div>
    <div style="background-color:#c3c3f1;">
      {% for faculty_msg in faculty_messages %}
      <p class="text-left" style="max-width: 70%;float: right;">{{faculty_msg.message}}</p>
        <!-- {{faculty_msg.user}}</p> -->
      {% endfor %}
    </div>
  </div>
  <div style="display: flex;justify-content: space-between;align-items: center;margin: 10px 0px;">
    <Textarea id="alumni_msg{{post_interest}}"
      style="height: 40px !important;width: 100% !important;padding: 10px !important;" id="text"></Textarea>
    <button type="button" onclick="faculty_addchat('{{post_interest}}')"
      style="height: 40px !important;background: none;border: none;outline: none;"><i class="fa fa-paper-plane"
        style="transform: rotate(40deg);"></i></button>
    <button type="button" onclick="add_amount('{{post_interest}}','{{intest_user}}')" data-toggle="modal"
      data-target="#addamount">Add amount</button>

    <!-- Add Sponser Modal  -->

    <!-- Modal -->
    <div class="modal fade" id="addamount" tabindex="-1" aria-labelledby="addamountLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addamountLabel">Modal title</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
          </div>
          <div class="modal-body">
            <div id="sponser">
              {% include 'faculty/add_sponser.html' %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}