{% block content %}
<div>
    <!-- {% for msgs in msg %}
        {% if msgs.form_user == user %}
            <div style="width: 80%;background-color: aqua;word-wrap: break-word;margin: 10px 0;float: right;padding: 5px;border-radius: 5px;">
            <p>{{msgs.message}}</p>
            <span>{{msgs.date_and_time}}</span>
            <p>From:{{msgs.form_user}}</p>
            <p>to:{{msgs.to_user}}</p>
            </div>
        {% else %}
            <div style="width: 80%;background-color: grey;word-wrap: break-word;margin: 10px 0;padding: 5px;border-radius: 5px;">
                <p>{{msgs.message}}</p>
                <span>{{msgs.date_and_time}}</span>
                <p>From:{{msgs.form_user}}</p>
                <p>to:{{msgs.to_user}}</p>
            </div>
        {% endif %}
    {% endfor %} -->
</div>
{% endblock content %}