{ % extends base.html %}
{% load static %}

{% block content %}

{% include 'dashboard-navigation/navigation.html' %}

<div class="col-md-5 col-md-offset-4">
    <div style="padding: 10px; margin: 10px 0px; border-radius: 7px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.19); position: relative; background: #fff;">
        <img style="width: 100px; height: 100px"  src="{{ view_details.image.url }}"
        alt="Card image cap" />
        <h3>Name : {{view_details.student_name}}</h3>
        <p>Department : {{ view_details.department}}</p>
        <p>Description : {{ view_details.year }}</p>
        <p>Marks : {{ view_details.marks }}</p>
        <p>Description : {{ view_details.description }}</p>
        <p>achievements : {{ view_details.achievement }}</p> 
        <p> Academics performance : {{ view_details.academics_performance }}</p>

        <div class="col-md-12 bg-light text-right">
            <div class="btn btn-primary" data-toggle="modal" data-target="#msg_modal{{request.id}}">Messages or chats</div>
        </div>
    </div>
</div>

{% endblock content %}