{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load social_share %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/faculty/faculty.css' %}">
{% endblock style %}

{% block content %}
{% include 'dashboard-navigation/navigation.html' %}



{% csrf_token %}
<section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-blog-single">
                   <div class="row">
                     <div class="col-md-12">
                       <article class="mu-blog-single-item">
                         <figure class="mu-blog-single-img">
                           <div style="margin: 10px 0px 0px 10px;">
                            <h2 class="text-info" style="margin-bottom: 10px;">{{ request_details.title}}</h2>
                            <img style="width: 150px; height: 150px;border-radius:50%;" class=""
                                    src="{{ request_details.image.url }}" alt="Card image cap" />
                            </div>
                           <figcaption class="mu-blog-caption" style="margin: 20px 0;;">
                               
                            <h3 class="card-text">{{ request_details.name }}</h3>
                            {% with year=request_details.year %}
                              {% if year == '1' %}
                                <h4 class="card-text">{{ year }}<sup>st</sup> Year</h4>
                              {% endif %}
                              {% if year == '2' %}
                                <h4 class="card-text">{{ year }}<sup>nd</sup> Year</h4>
                              {% endif %}
                              {% if year == '3' %}
                                <h4 class="card-text">{{ year }}<sup>rd</sup> Year</h4>
                              {% endif %}
                              {% if year == '4' %}
                                <h4 class="card-text">{{ year }}<sup>th</sup> Year</h4>
                              {% endif %}
                            {% endwith %}
                            

                           </figcaption>                      
                         </figure>
                         <div class="mu-blog-description">
                             <blockquote>
                                 Description                           
                             </blockquote>
                           <p>{{ request_details.description }}</p>
                           <blockquote>
                                Achievements                           
                            </blockquote>
                            <p>{{ request_details.achievements }}</p>
                            <blockquote>
                                Other Performance                          
                            </blockquote>
                            <p>{{ request_details.other_performance }}</p>
                              <a href="#">Posted By &nbsp;{{ request_details.posted_by }}</a>
                              <a href="#">{{ request_details.date }}</a>
                            
                         </div>
                         <!-- start blog social share -->
                         <div class="mu-blog-social">
                           <ul class="mu-news-social-nav">
                             <li>SOCIAL SHARE :</li>
                             <button class="btn btn-sm btn-info" >{% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp"></i>' %}</button>
                             <button class="btn btn-sm btn-info" >{% post_to_facebook object_or_url '<i class="fa fa-facebook"></i>' %}</button>
                             <button class="btn btn-sm btn-info" >{% post_to_gplus object_or_url '<i class="fa fa-google-plus"></i>' %}</button>
                           </ul>
                           <!-- <hr> -->
                         </div>
                         <!-- End blog social share -->
                         <div class="col-md-12 bg-light text-right" style="border-top: .5px solid rgba(0, 0, 0, 0.19);">
                            <a href="{% url 'finance_request_chat' request_details.id %}" target="_blank" class="btn btn-info">View Messages</a>
                            
                            <!-- Modal -->
                            <div class="modal fade"id="chatModels{{ request_details.id}}" tabindex="-1" role="dialog" aria-labelledby="chatModels{{ request_details.id}}Label" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #5bc0de;">
                                        <h5 class="modal-title modaltitle" id="chatModels{{ request_details.id}}Label">Alumni Interest</h5>
                                        <button type="button" class="close closebtn" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body ">
                                        <div class="Container-left" style="height: 35vh;overflow-y: scroll;scrollbar-width: 0;">
                                          {% with total_interest=total_number_of_interest %}
                                            {% if total_interest >= 1 %}
                                              {% for interest in alumni_interest %}
                                                  <button type="button" class="interest" onclick="get_interest_message('{{interest.post_id}}','{{interest.user_id}}')">{{interest.user}}</button>
                                                  <br>
                                                  <hr style="margin-bottom: 5px !important">
                                              {% endfor %}
                                            {% else %}
                                              <p style="text-align: left !important;">Currently you don't have any Interst for this Request</p>
                                            {% endif %}
                                          {% endwith %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-sm" style="margin: 10px 0 !important;" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>
                       </article>
                     </div>                                   
                   </div>
                 </div>
                 <!-- end course content container -->
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Recent Interests</h3>
                     <ul class="mu-sidebar-catg">
                       {% with total_interest=total_number_of_interest %}
                        {% if total_interest >= 1 %}
                          {% for inst in recent_intetest %}
                            <li style="cursor: pointer;">
                              <a href="{% url 'finance_request_chat' request_details.id %}" target="_blank">{{ inst.user }}</a>
                            </li>
                          {% endfor %}
                          {% if total_interest > 5 %}
                            <a href="{% url 'finance_request_chat' request_details.id %}" target="_blank"  class="btn btn-sm btn-info">View All Interest</a>
                          {% endif %}
                        {% else %}
                            <p>Currently you don't have any Interst for this Request</p>
                        {% endif %}
                      {% endwith %}
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Sponsers</h3>
                     <ul class="mu-sidebar-catg mu-sidebar-archives">
                       {% with sponsers=number_of_sponser %}
                        {% if sponsers > 0 %}
                          {% for recent_sponser in recent_sponsers %}
                            <li style="cursor: pointer;"><a>{{recent_sponser.amount}}.00<span>by {{recent_sponser.user}}</span></a></li>
                          {% endfor %}
                        {% else %}
                        <li style="cursor: pointer;">Currently no sponsers for this Request</li>
                        {% endif %}
                     </ul>
                      {% if sponsers > 5 %}
                        <button type="button" data-toggle="modal" data-target="#sponser_list" class="btn btn-sm btn-info">View All Sponsers</button>
                      {% endif %}
                     {% endwith %}
                     <!-- sponsers list modal  -->
                     {% include 'faculty/all_sponsers.html' %}
                   </div>
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/faculty/faculty.js' %}"></script>
{% endblock javascript %}