{% for request in requests %}
<div class="col-md-4 col-sm">
    <div style="padding: 10px;margin: 10px 0px;border-radius: 7px;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.19);position: relative;background: #fff; min-height: 230px;">
        <div style="display: flex;flex-direction: column;">
            <div style=" display: flex;min-height: 155px;" class="post-container">
                <div class="img-square-wrapper" style="margin-right: 10px">
                    <img style="width: 100px; height: 100px;border-radius:50%;" class="" src="{{ request.image.url }}"
                        alt="Card image cap" />
                </div>
                <div style="flex: 1">
                    <div style="display: flex;justify-content: space-between;">
                        <h4 style="word-wrap: wrap;"><a href="{% url 'request_details' request.id %}"><u>{{request.title | truncatechars:15 }}</u></a></h4>
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <a class="btn btn-sm btn-primary" href="{% url 'update-finance-post' request.id %}"
                                style="margin-top: 0px !important;"><i class="fa fa-pencil-square-o"></i></a>
                            <button type="button" class="btn btn-danger btn-sm"
                                style="margin-top: 0px !important;margin-left: 5px !important;" data-toggle="modal"
                                data-target="#deleteRequest{{request.id}}">
                                <i class="fa fa-trash"></i>
                            </button>
                            <!-- Delete particular Finance request post start  -->
                            <div class="modal fade" id="deleteRequest{{request.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="deleteRequest{{request.id}}" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="deleteRequest{{request.id}}">
                                                Delete Financial
                                                Request</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 20px;top: 20px;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Do you want to delete the financial
                                                request of
                                                <b>{{ request.name}}</b>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                onclick="delete_post('{{request.id}}')"
                                                style="margin: 0!important;">Delete</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                style="margin: 0!important;">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete particular Finance request post end  -->
                        </div>

                    </div>
                    <div style="display: flex;">
                        {% with year=request.year %}
                        {% if year == '1' %}
                        <p class="card-text">Name : {{ request.name }}
                            &nbsp;{{ year }}<sup>st</sup>
                            {{request.department}}</p>
                        {% elif year == '2' %}
                        <p class="card-text">Name : {{ request.name }}
                            &nbsp;{{ year }}<sup>nd</sup>
                            {{request.department}}</p>
                        {% elif year == '3' %}
                        <p class="card-text">Name : {{ request.name }}
                            &nbsp;{{ year }}<sup>rd</sup>
                            {{request.department}}</p>
                        {% else %}
                        <p class="card-text">Name : {{ request.name }}
                            &nbsp;{{ year }}<sup>th</sup>
                            {{request.department}}</p>
                        {% endif %}
                        {% endwith %}

                    </div>
                    <p style="font-size: 15px !important;">Description :
                        {{request.description | truncatechars:50}}</p>
                </div>
            </div>
            <div class="col-md-12 bg-light text-right" style="border-top: .5px solid rgba(0, 0, 0, 0.19);">
                <a href="{% url 'request_details' request.id %}" class="btn btn-primary"
                    style="margin: 0 !important;margin-top: 10px !important;">
                    View Details
                </a>
            </div>
        </div>

    </div>
</div>
{% empty %}
<h4 style="text-align: center;">No Finance Request Found</h4>
{% endfor %}