{% load static %} 

{% block content %}
<div class="upper_container">
    {% for interest in interest_user %}
         
        <p><img src="/uploads/{{ interest.user.profile_photo }}" alt="profile photo" style="width: 40px;border-radius: 100%;margin-right: 20px;"> Chat With {{ interest.user}} for {{ interest.post.title | truncatechars:15 | title }}</p>
        <button type="button" class="btn btn-sm" style="margin: 10px 0 !important;background-color: #54656f;color: #fff;"
        onclick="add_amount('{{interest.post.id}}','{{interest.user.id}}')" data-toggle="modal" data-target="#addamount{{interest.post.id}}">Add
        Amount</button>
    <!-- Add Sponser Modal  -->

    <!-- Modal -->
    <div class="modal fade sponser_modal" id="addamount{{interest.post.id}}" tabindex="-1" role="dialog" aria-labelledby="addamount{{interest.post.id}}" aria-hidden="true" data-backdrop="false" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modaltitle" id="addamountLabel">Add Sponser</h5>
            <button type="button" style="position: absolute;right: 15px;" class="btn-close closebtn" onclick="hide_modal()">&times;</button>
          </div>
          <div class="modal-body">
            <div id="sponser">
              {% include 'faculty/add_sponser.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}