<footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Quick Links</h4>
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">About College</a>
                                </li>
                                <li>
                                    <a href="">Alumni Association</a>
                                </li>
                                <li>
                                    <a href="{% url 'gallery' %}">Gallery</a>
                                </li>
                                {% comment %}
                                <li><a href="">Annual Report</a></li>
                                {% endcomment %}
                                <li>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                                <li>
                                    <a hr>Term Of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3ef col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Alumni Activities</h4>
                            <ul>
                                <li>
                                    <a href="{% url 'mentor_help_page' %}">Alumni as Mentor</a>
                                </li>
                                <li>
                                    <a href="{% url 'finance_request' %}">Alumni as Sponsor</a>
                                </li>
                                <li>
                                    <a href="{% url 'help_desk_post' %}">Alumni Help Desk</a>
                                </li>
                                <li>
                                    <a href="{% url 'home' %}">Institution Website</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>News letter</h4>
                            <p>Get latest update, news & academic offers</p>
                            <form class="mu-subscribe-form">
                                <input type="email" placeholder="Type your Email" />
                                <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Contact</h4>
                            <address>
                                <p>
                                    Center for Alumni Affairs, College of Engineering and Technology,
                                    Coimbatore, India.
                                </p>
                                <p>Phone: (+91) 0000000000 | 0000000000</p>
                                <p>Website: www.college.ac.in</p>
                                <p>Email: alumniaffairs@college.ac.in</p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="mu-footer-bottom-area">
                <div class="row">
                    <div Class="col-3">
                        <p>© All Right Reserved.</p>
                    </div>
                    <div Class="col-6">
                        <p>
                            Developed by <a class="text-light">Technology Innovation Center, Engineering College.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer bottom -->
</footer>
