{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/faculty/faculty.css' %}">
{% endblock style %}

{% block content %}
{% include 'dashboard-navigation/navigation.html' %}




<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row" style="margin-bottom: 20px;">
                        <div style="display: flex;justify-content: space-between;">
                            <div style="display: flex;">
                                <h2>Financial Request</h2>
                            </div>
                            <!-- <p>Search</p> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9" id="finance_request_container"
                            style="background-color:#fff; padding: 20px;">
                            <!-- start finance-request content container -->
                            <div class="mu-course-container">
                                <div class="row">
                                    <div class="col-md-12 col-sm">
                                        <h2>{{ request_details.title}}</h2>
                                        <div class="img-square-wrapper" style="margin-right: 10px;">
                                            <img style="width: 150px; height: 150px;border-radius:50%;" class=""
                                                src="{{ request_details.image.url }}" alt="Card image cap" />
                                        </div>
                                        <p class="card-text">name : {{ request_details.student_name }}</p>
                                        <p class="card-text">Year : {{ request_details.year }}<sup>rd</sup>
                                            {{request_details.department}}</p>
                                        <p>Description : {{ request_details.description }}</p>
                                        <p>Achievements : {{request.achievements}}</p>
                                        <p>Other Performance : {{request.other_performance}}</p>
                                        <div class="col-md-12 bg-light text-right"
                                            style="border-top: .5px solid rgba(0, 0, 0, 0.19);">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chatModels{{request.id}}">
                                                Launch demo modal
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="chatModels{{request.id}}" tabindex="-1" role="dialog" aria-labelledby="chatModels{{request.id}}Label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="chatModels{{request.id}}Label">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="Container">
                                                            <div style="width: 100%;height: 120px;background: #0f0;" ></div>
                                                            <div style="display: flex;justify-content: space-between;align-items: center;">
                                                                <input type="text" name="text" id="">
                                                                <input type="submit" value="send">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end finance-request content container -->
                            </div>

                            <div class="col-md-3">
                                <!-- start sidebar -->
                                <aside class="mu-sidebar">

                                    <!-- end single sidebar -->
                                    <!-- start single sidebar -->

                            </div>
                        </div>
                        </aside>
                        <div class="col-md-3" style="background-color:#fff;">
                            <h3>Recent Chats</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}