{% for msg in messages %}
 
    {% if msg.user == request.user %}
    <span
      style="float: right;max-width: 70%;width: 100%;text-align: left;border-radius: 10px;padding: 8px;margin: 10px 0;overflow-wrap: break-word;background-color: #d9fdd3;">
      {{msg.message}}
      <br>
      <span style="font-size: 12px !important;">{{msg.date}}</span>
    </span>
    <div style="margin: 5px 0px"></div>
 
    {% else %}
    <span
      style="float: left;max-width: 70%;width: 100%;text-align: left;border-radius: 10px;padding: 8px;margin: 10px 0;overflow-wrap: break-word;background-color: #fff;">
      {{msg.message}}
      <br>
      <span style="font-size: 12px !important;">{{msg.date}}</span>
    </span>
    <div style="margin: 5px 0px"></div>
    {% endif %}
    <br>
    {% endfor %}