{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Karpagam Institute of Technology Alumni Association | Kitizens | Home{% endblock %}

{% block content %}
	<div class="login-container">
		<div class="login-innercontainer">
			<h2 class="w-100 bg-primary">Login</h2>
			<form class="Form" method="post" action="{% url 'dashboard' %}">
				{% csrf_token %}
				{{form | crispy}}
			
				<div class="d-flex justify-content-center">
					<button type="submit"
						class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Login</button>
				</div>
			
			</form>
		</div>
	</div>
{% endblock %}
