{% extends 'auth/layouts/base.html' %}

{% load static %}

{% load custom_tags %}

{% block content %}

    <div class="text-primary text-center">
        <h3>Enter New Password</h3>
        <p class="font-small opacity-75">Please enter your new password twice so we can verify you typed it in correctly.</p>
    </div>
    <form class="text-start" method="post">
        {% csrf_token %}

        {% include "auth/components/form_errors.html" %}

        {% render_form_field form.new_password1 %}

        {% render_form_field form.new_password2 %}

        <button class="btn btn-primary m-0 w-100" type="submit">Reset Password</button>
    </form>

{% endblock content %}
