{% load static %}

<section id="mu-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                        <h2>Featured Alumni's</h2>
                        <p>
                            Our Alumnis are guiding our students in development and research activities based on their
                            proficient skill sets.
                        </p>
                    </div>
                    <!-- End Title -->
                    <!-- Start features content -->
                    <div class="mu-features-content">
                        <div class="row">
                            <div>
                                <div class="mu-single-feature">
                                    <h4>Featured Mentors</h4>
                                    <div class="card">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img width="90px"
                                                     height="90px"
                                                     src="{% static 'assets/img/slider/3.jpg' %}"
                                                     alt="Card image cap" />
                                            </div>
                                            <div class="card-body ml-1">
                                                <h5>Surendharan B</h5>
                                                <p class="card-text">
                                                    Mentoring Project Alumni Portal. Skills : Java,
                                                    Html.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img width="90px"
                                                     height="90px"
                                                     src="{% static 'assets/img/slider/3.jpg' %}"
                                                     alt="Card image cap" />
                                            </div>
                                            <div class="card-body ml-1">
                                                <h5>Surendharan B</h5>
                                                <p class="card-text">
                                                    Mentoring Project Alumni Portal. Skills : Java,
                                                    Html.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img width="90px"
                                                     height="90px"
                                                     src="{% static 'assets/img/slider/3.jpg' %}"
                                                     alt="Card image cap" />
                                            </div>
                                            <div class="card-body ml-1">
                                                <h5>Surendharan B</h5>
                                                <p class="card-text">
                                                    Mentoring Project Alumni Portal. Skills : Java,
                                                    Html.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End features content -->
                </div>
            </div>
        </div>
    </div>
</section>
