{% load static %}

<section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="{% static 'assets/img/slider/dummy_alumni_meet_1.jpg' %}"
                     alt="img"
                     height="auto"
                     width="auto" />
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Welcome To College Tech Alumni Association</h4>
            <h2>Together Forever</h2>
            <p>Any institutions' alumni are key to its growth.</p>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="{% static 'assets/img/slider/dummy_alumni_meet_2.jpg' %}"
                     alt="img"
                     height="auto"
                     width="auto" />
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Alumnus are Our Identity</h4>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="{% static 'assets/img/slider/dummy_alumni_meet_1.jpg' %}"
                     alt="img"
                     height="auto"
                     width="auto" />
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Rewind</h4>
            <h2>Grand Alumni Meet</h2>
            <p>The Grand Alumni Meet 2019 with our Proud Alumnies held on College</p>
        </div>
    </div>
    <!-- Start single slider item -->
</section>
