{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->

    <!-- Start header  -->
    <header id="mu-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-left">
                                    <div class="mu-top-email">
                                        <i class="fa fa-envelope"></i>
                                        <span>info@markups.io</span>
                                    </div>
                                    <div class="mu-top-phone">
                                        <i class="fa fa-phone"></i>
                                        <span>(568) 986 652</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-right">
                                    <nav>
                                        <ul class="mu-top-social-nav">
                                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header  -->
    <!-- Start menu -->
    <section id="mu-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <a class="navbar-brand" href="/home"><img src="{% static 'image/logo.jpg' %}" style="width: 150px;" alt=""></a>
                    <!-- IMG BASED LOGO  -->
                    <!-- <a class="navbar-brand" href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        <li><a href="/home">Home</a></li>
                        <li class="dropdown active">
                            <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Course <span
                                    class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/course">Course Archive</a></li>
                                <li><a href="/course-detail">Course Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span
                                    class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/blog-archive">Blog Archive</a></li>
                                <li><a href="/blog-single">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/404">404 Page</a></li>
                        <li><a href="/" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <!-- End menu -->
    <!-- Start search box -->
    <div id="mu-search">
        <div class="mu-search-area">
            <button class="mu-search-close"><span class="fa fa-close"></span></button>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="mu-search-form">
                            <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End search box -->
    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>Help Desk Post</h2>
                        <ol class="breadcrumb">
                            <li><a href="/home">Home</a></li>Mentor Help Post</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb -->
    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row" style="margin-bottom: 20px;">
                            <div style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;padding: 0 20px !important;">
                                <div style="display: flex;">
                                    <h2>Mentor Help Post</h2>
                                </div>
                                <form>
                                    <div class="input-group" style="display: flex;justify-content: center;align-items: center;">
                                        <input type="text" name="q" class="form-control form-control-lg" placeholder="Search" />
                                        <div class="input-group-append">
                                        <button class="btn btn-primary Search" type="submit" id="button-addon2">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="finance_request_container"
                                style="background-color:#fff; padding: 20px;">
                                <!-- start Help_Desk_Post content container -->
                                <div class="mu-course-container">
                                    <div class="row">
                                        {% for post in posts %}
                                        <div class="col-md-4 col-sm">
                                            <div style="
                                            padding: 10px;
                                            margin: 10px 0px;
                                            border-radius: 7px;
                                            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.19);
                                            position: relative;
                                            background: #fff;
                                            min-height: 175px;
                                            ">
                                                <div style="display: flex;flex-direction: column;">
                                                    <div style="display: flex" class="post-container">
                                                        <div style="flex: 1">
                                                            <div style="display: flex;justify-content: space-between;">
                                                                <h4>{{ post.title | truncatechars:20}}</h4>
    
                                                            </div>
                                                            <p style="font-size: 15px !important;">Description :
                                                                {{post.content | truncatechars:50 | safe}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 bg-light text-right"
                                                        style="border-top: .5px solid rgba(0, 0, 0, 0.19);">
                                                        <a href="{% url 'mentorhelp_post_details' post.id %}"
                                                            class="btn btn-primary"
                                                            style="margin: 0 !important;margin-top: 10px !important;">
                                                            View details
                                                        </a>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- end Help_Desk_Post content container -->
                                    </div>
    
    
                                    <div class="col-md-3">
                                        <!-- start sidebar -->
                                        <aside class="mu-sidebar">
    
                                            <!-- end single sidebar -->
                                            <!-- start single sidebar -->
    
                                    </div>
                                </div>
                                </aside>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12" style="background-color:#fff;">
                                {% if posts.has_other_pages %}
                                    <!-- Pagination -->
                                    <nav class="my-3 container">
                                        <ul class="pagination">
                                            {% if posts.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
                                            {% endif %}
                                            {% for i in posts.paginator.page_range %}
                                                {% if posts.number == i %}
                                                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if posts.has_next %}
                                                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}