{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load social_share %}



{% block style %}
<style>
    img {
        width: 100% !important;
        height: 100% !important;
    }
</style>
<link rel="stylesheet" href="{% static 'css/faculty/faculty.css' %}">
{% endblock style %}

{% block content %}

<div>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->

    <!-- Start header  -->
    <header id="mu-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-left">
                                    <div class="mu-top-email">
                                        <i class="fa fa-envelope"></i>
                                        <span>info@markups.io</span>
                                    </div>
                                    <div class="mu-top-phone">
                                        <i class="fa fa-phone"></i>
                                        <span>(568) 986 652</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-right">
                                    <nav>
                                        <ul class="mu-top-social-nav">
                                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header  -->
    <!-- Start menu -->
    <section id="mu-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <a class="navbar-brand" href="/home"><img src="{% static 'image/logo.jpg' %}" style="width: 150px;" alt=""></a>
                    <!-- IMG BASED LOGO  -->
                    <!-- <a class="navbar-brand" href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        <li><a href="/home">Home</a></li>
                        <li class="dropdown active">
                            <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Course <span
                                    class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/course">Course Archive</a></li>
                                <li><a href="/course-detail">Course Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span
                                    class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/blog-archive">Blog Archive</a></li>
                                <li><a href="/blog-single">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/404">404 Page</a></li>
                        <li><a href="/" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <!-- End menu -->
    <!-- Start search box -->
    <div id="mu-search">
        <div class="mu-search-area">
            <button class="mu-search-close"><span class="fa fa-close"></span></button>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="mu-search-form">
                            <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End search box -->
    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>Help Desk Post</h2>
                        <ol class="breadcrumb">
                            <li><a href="/home">Home</a></li>
                            <li class="active">Mentor Help Post</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb -->






    <section id="mu-course-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-course-content-area">
                 <div class="row">
                   <div class="col-md-9">
                     <!-- start course content container -->
                     <div class="mu-course-container mu-blog-single">
                       <div class="row">
                         <div class="col-md-12">
                           <article class="mu-blog-single-item">
                             <figure class="mu-blog-single-img">
                                 <div style="margin: 10px 0px 0px 10px;">
                                     <h2 class="text-info" style="margin-bottom: 20px;">{{ post.title}}</h2>
                                    </div>                    
                             </figure>
                             <div class="mu-blog-description">
                                 <blockquote>
                                     Description                           
                                 </blockquote>
                               <p>{{ post.content | safe }}</p>
                                  <a href="#">Posted By :&nbsp;{{ post.posted_by }}</a>
                                  <a href="#">{{ post.date }}</a>
                                
                             </div>
                             <!-- start blog social share -->
                             <div class="mu-blog-social">
                               <ul class="mu-news-social-nav">
                                 <li>SOCIAL SHARE :</li>
                                 <button class="btn btn-sm btn-info" >{% post_to_whatsapp object_or_url "whatsapp" %}</button>
                                 <button class="btn btn-sm btn-info" >{% post_to_facebook object_or_url "facebook" %}</button>
                                 <button class="btn btn-sm btn-info" >{% post_to_twitter object_or_url "twitter" %}</button>
                                 <button class="btn btn-sm btn-info" >{% post_to_gplus object_or_url "google" %}</button>
                                 <button class="btn btn-sm btn-info" >{% post_to_linkedin object_or_url "linkedin" %}</button>
                               </ul>
                             </div>
                             <!-- End blog social share -->
                             <div class="col-md-12 bg-light text-right"
                                                style="border-top: .5px solid rgba(0, 0, 0, 0.19);">
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#chatModels{{ post.id}}" onclick="get_mentor_messages('{{post.id}}')">
                                                    Chat with User
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="chatModels{{ post.id}}" tabindex="-1" role="dialog" aria-labelledby="chatModels{{ post.id}}Label" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-info">
                                                            <h5 class="modal-title" id="chatModels{{ post.id}}Label" style="float: left;">Chat</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" style="display: flex;justify-content: space-between;align-items: center;flex-direction: column;">
                                                                <div style="width: 100%;height: 50vh;border: 1px solid rgba(0,0,0,.1) !important;overflow-y: scroll;">
                                                                    {% include 'pages/alumni_as_mentor/chat.html' %}
                                                                </div>
                                                                <div style="display: flex;justify-content: space-between;align-items: center;margin: 10px 0px;width: 100%;height: 100%;">
                                                                    {% csrf_token %}
                                                                    <Textarea id="alumni_msg{{post.id}}" style="height: 40px !important;width: 100% !important;padding: 10px !important;" id=""></Textarea>
                                                                    <button type="button" onclick="addchat('{{ post.id}}')" style="height: 40px !important;background: none;border: none;outline: none;"><i class="fa fa-paper-plane text-info" style="transform: rotate(40deg);"></i></button>
                                                                </div>
                                                        </div>
                                                        <!-- <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                        </div> -->
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                           </article>
                         </div>                                   
                       </div>
                     </div>
                     <!-- end course content container -->
                     <!-- start related course item -->
                     <div class="row">
                       <div class="col-md-12">
                         <div class="mu-related-item">
                           <h3>Related Posts</h3>
                           <div class="mu-related-item-area">
                             <div id="mu-related-item-slide">
                                    {% for post in all_post %}
                                            <div class="col-md-6">
                                                <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img" style="margin: 10px 0px 10px 10px;">
                                                    <h3><a href="#">{{ post.title | truncatechars:20 }}</a></h3>
                                                    <figcaption class="mu-blog-caption">
                                                    </figcaption>
                                                </figure>      
                                                <div class="mu-blog-meta">
                                                    <a href="#">By {{ post.posted_by }}</a>
                                                    <a href="#">{{ post.date }}</a>
                                                </div>
                                                <div class="mu-blog-description">
                                                    {{ post.content | truncatechars:90 | safe}}
                                                    <br>
                                                    <a href="{% url 'mentorhelp_post_details' post.id %}" class="btn-info btn btn-sm">Read More</a>
                                                </div>
                                                </article>
                                            </div>
                                    {% endfor %}
                               
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                     <!-- end start related course item -->
                     
                   </div>
                   <div class="col-md-3">
                     <!-- start sidebar -->
                     <aside class="mu-sidebar">
                       <!-- start single sidebar -->
                       <div class="mu-single-sidebar">
                         <h3>Recents Chats</h3>
                         <ul class="mu-sidebar-catg">
                            {% for msgs in message %}
                                <p>{{msgs.message}}</p>
                            {% endfor %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chatModels{{ post.id}}" onclick="get_mentor_messages('{{post.id}}')">
                                continue chat
                            </button>
                         </ul>
                       </div>
                       <!-- end single sidebar -->
                     </aside>
                     <!-- / end sidebar -->
                  </div>
                  <div class="col-md-3">
                    <!-- start sidebar -->
                    <aside class="mu-sidebar">
                      <!-- start single sidebar -->
                      <div class="mu-single-sidebar">
                        <h3>My Contribution</h3>
                        <ul class="mu-sidebar-catg">
                           {% for contribution in contrib %}
                               <p>{{contribution.amount}}.00 rs</p>
                           {% endfor %}
                        </ul>
                      </div>
                      <!-- end single sidebar -->
                    </aside>
                    <!-- / end sidebar -->
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/alumini/alumini.js' %}"></script>
{% endblock javascript %}