{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/faculty/faculty.css' %}">
{% endblock style %}

{% block content %}

<div>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->

    <!-- Start header  -->
    <header id="mu-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-left">
                                    <div class="mu-top-email">
                                        <i class="fa fa-envelope"></i>
                                        <span>info@markups.io</span>
                                    </div>
                                    <div class="mu-top-phone">
                                        <i class="fa fa-phone"></i>
                                        <span>(568) 986 652</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-right">
                                    <nav>
                                        <ul class="mu-top-social-nav">
                                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header  -->
    <!-- Start menu -->
    <section id="mu-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <a class="navbar-brand" href="/home"><i class="fa fa-university"></i><span style="font-size: 24px;">Karpagam Institute Of Technology</span></a>
                    <!-- IMG BASED LOGO  -->
                    <!-- <a class="navbar-brand" href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        <li><a href="/home">Home</a></li>
                        <li class="dropdown active">
                            <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Course <span
                                    class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/course">Course Archive</a></li>
                                <li><a href="/course-detail">Course Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span
                                    class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/blog-archive">Blog Archive</a></li>
                                <li><a href="/blog-single">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/404">404 Page</a></li>
                        <li><a href="/" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <!-- End menu -->
    <!-- Start search box -->
    <div id="mu-search">
        <div class="mu-search-area">
            <button class="mu-search-close"><span class="fa fa-close"></span></button>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="mu-search-form">
                            <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End search box -->
    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>Alumini As a Sponser</h2>
                        <ol class="breadcrumb">
                            <li><a href="/home">Home</a></li>
                            <li class="active">Financial Request</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb -->


    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row" style="margin-bottom: 20px;">
                            <div style="display: flex;justify-content: space-between;">
                                <div style="display: flex;">
                                    <h2>Financial Request</h2>
                                </div>
                                <!-- <p>Search</p> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9" id="finance_request_container"
                                style="background-color:#fff; padding: 20px;">
                                <!-- start finance-request content container -->
                                <div class="mu-course-container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm">
                                            <h2>{{ request_details.title}}</h2>
                                            <h2>{{ request_details.id}}</h2>
                                            <div class="img-square-wrapper" style="margin-right: 10px;">
                                                <img style="width: 150px; height: 150px;border-radius:50%;" class=""
                                                    src="{{ request_details.image.url }}" alt="Card image cap" />
                                            </div>
                                            <p class="card-text">name : {{ request_details.student_name }}</p>
                                            <p class="card-text">Year : {{ request_details.year }}<sup>rd</sup>
                                                {{request_details.department}}</p>
                                            <p>Description : {{ request_details.description }}</p>
                                            <p>Needs : {{ request_details.needs }}</p>
                                            <p>Exam Name : {{request.exam_name}}</p>
                                            <p>Percentage or CGPA : {{request.percentage_or_cgpa}}</p>
                                            <p>Achievements : {{request.achievements}}</p>
                                            <p>Other Performance : {{request.other_performance}}</p>
                                            <div class="col-md-12 bg-light text-right"
                                                style="border-top: .5px solid rgba(0, 0, 0, 0.19);">
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chatModels{{ request_details.id}}">
                                                    Chat with Staff
                                                </button>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="chatModels{{ request_details.id}}" tabindex="-1" role="dialog" aria-labelledby="chatModels{{ request_details.id}}Label" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="chatModels{{ request_details.id}}Label" style="float: left;">Modal title</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="Container">
                                                                <div style="width: 100%;height: 50vh;background: #0f0;" ></div>
                                                                <div style="display: flex;justify-content: space-between;align-items: center;margin: 10px 0px;">
                                                                    {% csrf_token %}
                                                                    <Textarea id="alumni_msg{{request_details.id}}" style="height: 40px !important;width: 100% !important;padding: 10px !important;" id=""></Textarea>
                                                                    <button type="button" onclick="alumni_addchat('{{ request_details.id}}')" style="height: 40px !important;background: none;border: none;outline: none;"><i class="fa fa-paper-plane" style="transform: rotate(40deg);"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                        </div> -->
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end finance-request content container -->
                                </div>

                                <div class="col-md-3">
                                    <!-- start sidebar -->
                                    <aside class="mu-sidebar">

                                        <!-- end single sidebar -->
                                        <!-- start single sidebar -->

                                </div>
                            </div>
                            </aside>
                            <div class="col-md-3" style="background-color:#fff;">
                                <h3>Recent Chats</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/alumini/alumini.js' %}"></script>
{% endblock javascript %}