{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col" style="padding-bottom: 40px;">
                <h2 class="text-center" style="margin: 30px 0px;">Create Finance Request</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form | crispy}}
                    {{form1 | crispy}}
                    <input type="submit" value="Request" name="Request">
                </form>
            </div>
        </div>
    </div>
{% endblock content%}