{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Finance Requests | Karpagam Institute of Technology{% endblock %}
{% block activity %}active{% endblock %}
{% block style %}
    <style>
        .Search {
            border-top-left-radius: 0% !important;
            border-bottom-left-radius: 0% !important;
            margin-right: 10px !important;
        }
    </style>
{% endblock style %}
{% block content %}
    <div>
        <!--START SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- END SCROLL TOP BUTTON -->
        <!-- Page breadcrumb -->
        <section id="mu-page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>Alumini As a Sponser</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="active">Finance Request</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb -->
        <section id="mu-course-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-course-content-area">
                            <div class="row" style="margin-bottom: 20px;">
                                <div style="display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            flex-wrap: wrap;
                                            padding: 0 20px !important">
                                    <div style="display: flex;">
                                        <h2>Finance Request</h2>
                                    </div>
                                    <form>
                                        <div class="input-group"
                                             style="display: flex;
                                                    justify-content: center;
                                                    align-items: center">
                                            <input type="text"
                                                   name="search_query"
                                                   class="form-control form-control-lg"
                                                   placeholder="Search"
                                                   {% if search_query %}value="{{ search_query }}"{% endif %} />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary Search" type="submit" id="button-addon2">Search</button>
                                            </div>
                                            <a href="{% url 'finance_request' %}"
                                               class="btn btn-danger"
                                               id="button-addon2">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"
                                     id="finance_request_container"
                                     style="background-color:#fff;
                                            padding: 20px">
                                    <!-- start finance-request content container -->
                                    <div class="mu-course-container">
                                        <div class="row">
                                            {% for request in finance_post %}
                                                <div class="col-md-4 col-sm">
                                                    <div style="padding: 10px;
                                                                margin: 10px 0px;
                                                                border-radius: 7px;
                                                                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.19);
                                                                position: relative;
                                                                background: #fff;
                                                                min-height: 230px">
                                                        <div style="display: flex;flex-direction: column;">
                                                            <div style="display: flex;min-height: 155px;" class="post-container">
                                                                <div class="img-square-wrapper" style="margin-right: 10px">
                                                                    <img style="width: 100px;
                                                                                height: 100px;
                                                                                border-radius:50%"
                                                                         class=""
                                                                         src="{{ request.image.url }}"
                                                                         alt="Card image cap" />
                                                                </div>
                                                                <div style="flex: 1">
                                                                    <div style="display: flex;justify-content:space-between;">
                                                                        <h4>
                                                                            <a href="{% url 'request_detail_page' request.id %}"><u>{{ request.title |truncatechars:20 | title }}</u></a>
                                                                        </h4>
                                                                    </div>
                                                                    <div style="display: flex;">
                                                                        {% with year=request.year %}
                                                                            {% if year == '1' %}
                                                                                <p class="card-text">
                                                                                    Name : {{ request.name }}
                                                                                    &nbsp;{{ year }}<sup>st</sup>
                                                                                    {{ request.department }}
                                                                                </p>
                                                                            {% elif year == '2' %}
                                                                                <p class="card-text">
                                                                                    Name : {{ request.name }}
                                                                                    &nbsp;{{ year }}<sup>nd</sup>
                                                                                    {{ request.department }}
                                                                                </p>
                                                                            {% elif year == '3' %}
                                                                                <p class="card-text">
                                                                                    Name : {{ request.name }}
                                                                                    &nbsp;{{ year }}<sup>rd</sup>
                                                                                    {{ request.department }}
                                                                                </p>
                                                                            {% else %}
                                                                                <p class="card-text">
                                                                                    Name : {{ request.name }}
                                                                                    &nbsp;{{ year }}<sup>th</sup>
                                                                                    {{ request.department }}
                                                                                </p>
                                                                            {% endif %}
                                                                        {% endwith %}
                                                                    </div>
                                                                    <p style="font-size: 15px !important;">
                                                                        Description :
                                                                        {{ request.description | truncatechars:50 }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 bg-light text-right"
                                                                 style="border-top: .5px solid rgba(0, 0, 0, 0.19)">
                                                                <a href="{% url 'request_detail_page' request.id %}"
                                                                   class="btn btn-primary"
                                                                   style="margin: 0 !important;
                                                                          margin-top: 10px !important">View Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <h3 style="text-align: center;">Finance Request Not Found</h3>
                                            {% endfor %}
                                            <!-- end finance-request content container -->
                                        </div>
                                        <div class="col-md-3">
                                            <!-- start sidebar -->
                                            <aside class="mu-sidebar">
                                                <!-- end single sidebar -->
                                                <!-- start single sidebar -->
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="background-color:#fff;">
                                    {% if finance_post.has_other_pages %}
                                        <!-- Pagination -->
                                        <nav class="my-3 container">
                                            <ul class="pagination">
                                                {% if finance_post.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ finance_post.previous_page_number }}">Previous</a>
                                                    </li>
                                                {% endif %}
                                                {% for i in finance_post.paginator.page_range %}
                                                    {% if finance_post.number == i %}
                                                        <li class="page-item active">
                                                            <a class="page-link" href="#">{{ i }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if finance_post.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ finance_post.next_page_number }}">Next</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
