{% extends 'base.html' %}

{% load static %}

{% block title %}Karpagam Institute of Technology Alumni Association | Kitizens | Home{% endblock %}
{% block home %}active{% endblock %}
{% block content %}
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start Slider -->
    <section id="mu-slider">
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="{% static 'assets/img/slider/1.jpg' %}" alt="img" />
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Welcome To Karpagam Tech Alumni Association</h4>
                <span></span>
                <h2>Together Forever</h2>
                <p>Any institutions' alumni are key to its growth.</p>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="{% static 'assets/img/slider/2.jpg' %}" alt="img" />
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Alumnus are Our Identity</h4>
                <span></span>
                <h2></h2>
                <p></p>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="{% static 'assets/img/slider/3.jpg' %}" alt="img" />
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Rewind</h4>
                <span></span>
                <h2>Grand Alumni Meet</h2>
                <p>The Grand Alumni Meet 2019 with our Proud Alumnies held on KIT</p>
            </div>
        </div>
        <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-service-area">
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-life-ring"></span>
                            <h3>Alumni as Mentor</h3>
                            <p>
                                Dear KITians Alumni Members, please assist students in resolving any issues they may have about their project and if they wish to
                                learn about new technologies.
                            </p>
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-usd"></span>
                            <h3>Alumni as Sponsor</h3>
                            <p>
                                Dear Alumni Members of KITians, This is the Kind info and  request from KIT faculty members, voluntears come  forward to donate the
                                financial support to our college students.
                            </p>
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-thumbs-up"></span>
                            <h3>Help Desk</h3>
                            <p>
                                Greetings, KITians Alumni! To assist our students and alumni who are looking for work, we will share information about new
                                technologies and job opportunities.
                            </p>
                        </div>
                        <!-- Start single service -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service  -->
    <!-- Start about us -->
    <section id="mu-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-us-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-left">
                                    <!-- Start Title -->
                                    <div class="mu-title">
                                        <h2>About Us</h2>
                                    </div>
                                    <!-- End Title -->
                                    <p>
                                        Karpagam Institute of Technology is one of the top Private Engineering colleges in India with the mission of providing
                                        excellent technical education to the students of engineering with dynamic faculty and the state-of-art facilities.
                                    </p>
                                    <ul>
                                        <li>
                                            The private engineering college is equipped with latest technological developments and provides the best platform for the
                                            engineering students to become independent thinkers and employable by the top companies.
                                        </li>
                                        <li>
                                            KIT, one of the best colleges in Coimbatore,
                                            India offers a dynamic atmosphere for the students of engineering to learn the  best of the technologies and apply the
                                            learning in their personal life.
                                        </li>
                                        <li>
                                            The percentage of students getting placed in top companies increases every year.The
                                            engineering students of our college are regularly involved in extra-curricular activities and have made their mark with
                                            top performances in many academic and sporting events in the recent years.
                                        </li>
                                        <li>
                                            KIT, one of the best Engineering colleges in Coimbatore provides all the support for the college students to participate
                                            and gain top acclamations in various events across the
                                            country.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-right">
                                    <iframe width="100%"
                                            height="315"
                                            src="https://www.youtube.com/embed/ux0OsfvYVZs">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us -->
    <!-- Start about us counter -->
    <section id="mu-abtus-counter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-abtus-counter-area">
                        <div class="row">
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-users"></span>
                                    <h4 class="counter">7546</h4>
                                    <p>Alumnis</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-globe"></span>
                                    <h4 class="counter">30</h4>
                                    <p>Countries</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single no-border">
                                    <span class="fa fa-certificate"></span>
                                    <h4 class="counter">13</h4>
                                    <p>Passed out Batches</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-spinner"></span>
                                    <h4 class="counter">9</h4>
                                    <p>Alumni Activities</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us counter -->
    <!-- Start features section -->
    <section id="mu-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-features-area">
                        <!-- Start Title -->
                        <div class="mu-title">
                            <h2>Alumni as Mentor</h2>
                            <p>
                                Our Alumnis are guiding our students in development and research activities based on their
                                proficient skill sets.
                            </p>
                        </div>
                        <!-- End Title -->
                        <!-- Start features content -->
                        <div class="mu-features-content">
                            <div class="row">
                                <div class="col-lg-8 col-md-8  col-sm-8"
                                     style="border-right:1px solid whitesmoke">
                                    <div class="mu-single-feature">
                                        <h4>Looking for Mentors</h4>
                                        {% for mentorpost in mentor_help_post %}
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ mentorpost.title }}</h5>
                                                    <p class="card-text">{{ mentorpost.content | safe | truncatechars:150 }}</p>
                                                    <a href="{% url 'mentor_help_detail_page' mentorpost.id %}"
                                                       class="btn btn-primary">View Detail</a>
                                                </div>
                                            </div>
                                            <hr />
                                        {% endfor %}
                                        <a href="/" class="btn btn-secondary" style="float:right">View All</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="mu-single-feature">
                                        <h4>Featured Mentors</h4>
                                        <div class="card">
                                            <div class="card-horizontal">
                                                <div class="img-square-wrapper">
                                                    <img style="width:90px;
                                                                height:90px"
                                                         class=""
                                                         src="{% static 'assets/img/slider/3.jpg' %}"
                                                         alt="Card image cap" />
                                                </div>
                                                <div class="card-body ml-1">
                                                    <h5>Surendharan B</h5>
                                                    <p class="card-text">
                                                        Mentoring Project Alumni Portal. Skills : Java,
                                                        Html.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-horizontal">
                                                <div class="img-square-wrapper">
                                                    <img style="width:90px;
                                                                height:90px"
                                                         class=""
                                                         src="{% static 'assets/img/slider/3.jpg' %}"
                                                         alt="Card image cap" />
                                                </div>
                                                <div class="card-body ml-1">
                                                    <h5>Surendharan B</h5>
                                                    <p class="card-text">
                                                        Mentoring Project Alumni Portal. Skills : Java,
                                                        Html.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-horizontal">
                                                <div class="img-square-wrapper">
                                                    <img style="width:90px;
                                                                height:90px"
                                                         class=""
                                                         src="{% static 'assets/img/slider/3.jpg' %}"
                                                         alt="Card image cap" />
                                                </div>
                                                <div class="card-body ml-1">
                                                    <h5>Surendharan B</h5>
                                                    <p class="card-text">
                                                        Mentoring Project Alumni Portal. Skills : Java,
                                                        Html.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="btn btn-secondary" style="float:right">View All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End features content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End features section -->
    <div style="border: 1px solid #ccc;width: 100%"></div>
    <!-- Start footer -->
    <footer id="mu-footer">
        <!-- start footer top -->
        <div class="mu-footer-top">
            <div class="container">
                <div class="mu-footer-top-area">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li>
                                        <a href="https://karpagamtech.ac.in/about-us/college-profile/">About KIT</a>
                                    </li>
                                    <li>
                                        <a href="">Alumni Association</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'gallery' %}">Gallery</a>
                                    </li>
                                    {% comment %}
                                    <li><a href="">Annual Report</a></li>
                                    {% endcomment %}
                                    <li>
                                        <a href="{% url 'contact' %}">Contact</a>
                                    </li>
                                    <li>
                                        <a href="">Term Of Use</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Alumni Activities</h4>
                                <ul>
                                    <li>
                                        <a href="{% url 'mentor_help_page' %}">Alumni as Mentor</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'finance_request' %}">Alumni as Sponsor</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'help_desk_post' %}">Alumni Help Desk</a>
                                    </li>
                                    <li>
                                        <a href="https://karpagamtech.ac.in/">Institution Website</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>News letter</h4>
                                <p>Get latest update, news & academic offers</p>
                                <form class="mu-subscribe-form">
                                    <input type="email" placeholder="Type your Email" />
                                    <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Contact</h4>
                                <address>
                                    <p>
                                        Center for Alumni Affairs, Karpagam Institue of Technology, Bodipalayam PO,
                                        Coimbatore, India.
                                    </p>
                                    <p>Phone: (+91) 9500974355 | 7538833202</p>
                                    <p>Website: www.karpagamtech.ac.in</p>
                                    <p>Email: alumniaffairs@karpagamtech.ac.in</p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer top -->
        <!-- start footer bottom -->
        <div class="mu-footer-bottom">
            <div class="container">
                <div class="mu-footer-bottom-area">
                    <div class="row">
                        <div Class="col-3">
                            <p>&copy; All Right Reserved.</p>
                        </div>
                        <div Class="col-6">
                            <p>
                                Developed by <a style="color:#ffff;">Technology Innovation Center, Karpagam Tech.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer bottom -->
    </footer>
    <!-- End footer -->
{% endblock %}
