<!-- Extending base.html file  -->
{% extends 'base.html' %}
    
{% block content %}

    <!-- Included header.html  -->
    {% include 'header.html' %}

    <div class="container-fluid my-3">
        <div class="row">
            <!-- forloop to print the events in webpage -->
            {% for events in event %}
                <div class="col">
                        <div class="card" style="width: 22rem;height: 25rem;">
                            <img src="{{ events.poster.url }}" class="card-img-top" alt="..." style="height:9rem;width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ events.name}}</h5>
                                <p class="card-text event-desc">{{ events.description}}</p>
                                <a href="#" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}