{% extends 'auth/layouts/base.html' %}

{% load static %}

{% load custom_tags %}

{% block content %}

    <div class="text-primary text-center">
        <h3>Reset Password</h3>
        <p class="font-small opacity-75">
            Enter your email address and we'll send you an email with instructions to reset your password
        </p>
    </div>
    <form class="text-start" method="post">
        {% csrf_token %}

        {% include "layouts/components/form_errors.html" %}

        {% render_form_field form.email %}

        <button class="btn btn-primary m-0 w-100" type="submit">Send Instruction</button>
    </form>

{% endblock content %}
