::-webkit-scrollbar {
  width: 0px;
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 15px;
  height: 50px;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.login-container {
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-innercontainer {
  width: 300px;
  height: 360px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden!important;
}
.login-innercontainer h2 {
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.Form {
  padding: 0px 10px;
  overflow-y: hidden;
}
.Form a {
  text-decoration: none;
  color: #888;
  font-size: 15px;
}
.alert ul li {
  color: #000;
}