{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Karpagam Institute of Technology Alumni Association | Kitizens | Home{% endblock title %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/scrollbar_style.css' %}">
{% endblock style %}

{% block content %}
	<div class="login-container">
		<div class="login-innercontainer">
			<h2 class="w-100 bg-primary">Login</h2>
			<form class="Form" method="POST" novalidate style="overflow-y: scroll;">
				{% csrf_token %}
				{{form | crispy}}
				<a href="{% url 'password_reset' %}">forgot password</a>
				<div class="d-flex justify-content-center">
					<button class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Login</button>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}